doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../css/main.css")
        title Document
    body 
        header.header#header 
             #heade_container 
                nav#navbar 

                    ol 
                       li 
                          a(href="#") Главная
                           
                       li 
                          a(href="#") Магазин
                           
                       li 
                          a(href="#") Заказы
                            
                       li 
                          a(href="#") О сервисе

                       li
                          a(href="#") Помощь

                #logo
                   img(src="../img/LOGO.png", alt="")
                   p new basketball
                
                #text
                   h1 Нужны баскетбольные кроссовки?
                   p Тут ты найдешь для себя лучшие кроссвоки для занятия баскетболом. У нас очень большой выбор!
                button ЗАКАЗАТЬ

                #img 
                   img.img1(src="../img/Ellipse 4.png", alt="")
                   img.img2(src="../img/крос 1.png", alt="")
            

                nav#navbar_card 
                  ol  
                     li 
                        div.div 
                           p Kyrie
                           img.img1(src="../img/кайри 1.png", alt="")
                           img.img2(src="../img/Arrow 3.png", alt="")
                     li
                        div.div1
                           p Jordan
                           img.img1(src="../img/джордан 1.png", alt="")
                           img.img2(src="../img/Arrow 3.png", alt="")
                     li   
                        div.div2
                           p LeBron
                           img.img1(src="../img/леееброн 1.png", alt="")
                           img.img2(src="../img/Arrow 3.png", alt="")
                     li
                        div.div3 
                           p Zoom Freak
                           img.img1(src="../img/фриик 1.png", alt="")
                           img.img2(src="../img/Arrow 3.png", alt="")

                           